<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:blueviolet;
            
            color: black;
        }
        h1,h2{
            background-color: white;
        }
        a{
            margin: 40px;
            padding: 40px;
            width: 40px;
            text-align: left;
        }
        
    </style>
</head>
<body>
    {% for i in d%}
    <h1>{{i.task}}</h1>
    <h2>{{i.status}}</h2>
    <a  class="btn btn-danger" href="{% url 'post_delete' pk=i.pk%}"><button>Delete</button></a>
    <a  class="btn btn-primary" href="{% url 'update' pk=i.pk %}" ><button>update</button></a>
    {% endfor %}
        
</body>
</html>